<input matInput
       type="hidden"
       placeholder="Choose a date"
       [satDatepicker]="datePicker"
       (dateChange)="dateChange($event)"
       [min]="min"
       [max]="max"
       #inputDatePicker
>
<sat-datepicker
        [beginDate]="beginDate"
        [endDate]="endDate"
        [startAt]="startAt"
        [startView]="startView"
        [touchUi]="touchUi"
        [rangeMode]="rangeMode"
>
</sat-datepicker>
<sat-datepicker-toggle matSuffix [for]="datePicker" *ngIf="!isTransparent"></sat-datepicker-toggle>
<code *ngIf="!isTransparent">
    {{ inputDatePicker.value }}
</code>